<html>
    <head>
        <meta charaset="UTF-8">
    </head>
    <body>
        <h1>このサービスについて</h1>
        <p>これらはsinatraのテストサービスです</p>
        <div>
            <a href="/">トップへ戻る</a>
        </div>
    </body>
</html>