<html>
    <head>
        <title>チャットメインページ(予定)</title>
        <form action="/transmission" method="POST">
        <center><h1>チャットルーム</h1></center>
        <center><p><label>名前:<input type="text" name="name" size="10"></label></p>
         <p><textarea name="box" cols="50" rows="10"></textarea></p>
         <input type="submit" value="送信"></center>
         
         </form>
    </head>
    <body>
        <center><iframe width="700" height="400" src='http://172.16.50.30:4567/log?init=10&src=0' scrolling="auto"></iframe></center>
    </body>
</html>