<html>
    <head>
        <title>登録完了</title>
        <body>
            ようこそ<%=@name%>さん
            <br>
            あなたのお住まいは<%=@place%>で
            年齢は<%=@age%>歳でお間違いないでしょうか？
            
        </body>
    </head>
</html>