<html>
    <head>
        <title>登録完了</title>
        <body>
            ようこそ<%=session[:name]%>さん
            <br>
            あなたのお住まいは<%session[:place]%>で
            年齢は<%=session[:age]%>歳でお間違いないでしょうか？
            
        </body>
    </head>
</html>