<html>
    <head><title>データ確認用ページ</title>
    
    </head>
    <body><table>
            <table border="1" width="500" cellspacing="0" cellpadding="5" bordercolor="#333333">
                    <tr>
                    <th>id</th>
                    <th>名前</th>
                    <th>年齢</th>
                    <th>住所</th>
                    <th>編集</th>
                    </tr>
                    <tr>
             <% @data.each do|num| %>
             <% @delete_data = num["id"] %>
              <% num.each do |val,name| %>
              <td><%= "#{name}"%></td>
        　　  <% end %>
        　　  <th><form action="/delete" method="POST">
        <input type="hidden" name="id" value="<%=@delete_data%>">
        <input type="submit" value='削除'></form></th>
             </tr>
        　　　<% end %>
        　　　
        　　　</table>
        　　　<a href="http://172.16.50.30:4567/entry">新規登録ページ</a>
    </body>
    
</html>