<html>
    <head>
        <title>削除するデータ</title>
        
    </head>
    <body>
        <% p @id %>
        ID【<%= @id %>】のデータを削除しました
       <a href="http://172.16.50.30:4567/database">戻る</a>   
    </body>
</html>