<html>
    <head>
        <title>お客様登録フォーム</title>
        <center><h2>情報入力のページ</h2></center>
        <br>
         <form action="/acceptance" method="POST">
        <body>
               <div>
      <p><label>名前:<input type="text" name="name" size="10"></label></p>
       <p><label>年齢:<input type="text" name="age" size="1"></label></p>
        <p><label>住所:<input type="text" name="place" size="40"></label></p>
        <input type="submit" value="送信">
        </div>
        
        　　　
        <a href="http://172.16.50.30:4567/database">データ確認用ページへ</a>    
          
        </body>
    </head>
</html>