<html>
    <title>登録内容のご確認</title>
    <head>
        <form action="/top/registration/completion" method="POST">
        <meta charset ="UTF-8">
        <h1>登録内容を確認します</h1>
        <br>
        名前: <%=session[:name]%>
        <br>
        住所  <%=session[:place]%>
        <br>
        年齢: <%=session[:age]%>
        <body>
            <h2>内容はこれでよろしいですか？</h2>
            <br>
            <input type="submit" value="登録ページへ">
            
        </body>
    </head>
    </form>
</html>