<html>
    <title>登録内容のご確認</title>
    <head>
        <form action="/top/registration/completion" method="POST">
        <meta charset ="UTF-8">
        <h1>登録内容を確認します</h1>
        <br>
        名前: session[:name] 
        <br>
        住所:
        <br>
        年齢:
        <body>
            <h2>内容はこれでよろしいですか？</h2>
            <br>
            <input type="button" onclick="location.href='172.16.50.30:4567/top/registration/completion'"value="はい">
            
        </body>
    </head>
    </form>
</html>