<html>
    とりあえず入力するよー

    <head>
            <title>タイトルをおいてみる</title>
            <h1>段落の設定</h1>
            <h2>中レベルの見出し</h2>
            <p>昨日は新しく</p>
            <p>本を買いました</p>
            <p>本のタイトルは忘れました</p>
            <h3>見出しレベル３</h3>
    <p>ヘッドはここ<p>
    </head>
    
    <body>ボディ↓
    <ul>
        <li>箇条書き1</li>
        <li>箇条書き2</li>
    </ul>
    <h3>カレーの作り方</h3>
    <ol>
        <li>野菜を切ります</li>
        <li>野菜と肉をいためます</li>
        <li>煮てカレールーを入れます</li>
        <li>できあがり</li>
        <p>
            <input type="button" value="いいね！"onclick="history.back()">
        </p>
    </ol>
    </body>
</html>