<html>
    <head>
        <title>会員登録のページ</title>
        <center><h2>登録フォーム</h3></center>
        <br>
        <br>
        <form action="/top/registration" method="POST">
        <Marquee direction="alternate"><p>お手数ですがこちらで個人情報の登録をお願いします。</p></Marquee>
    </head>
    <body>
        <div>
      <p><label>名前:<input type="text" name="name" size="10"></label></p>
       <p><label>住所:<input type="text" name="place" size="40"></label></p>
        <p><label>年齢:<input type="text" name="age" size="1"></label></p>
        <input type="submit" value="ここから送信先のページへ送信">
        
        <a href="http://172.16.50.30:4567/top/registration/completion" target="_blank">緊急脱出</a>
        </div>
    </body>
    </form>
</html>