<html>
    <title>送信ページ</title>
    <head>
         送信完了
    </head>
    <body>
        <script type="text/javascript"><!--
   location.href = "http://172.16.50.30:4567/top_page?init=10&src=0";
// --></script>
    </body>
</html>